<strong>Olá, {{ student }} </strong>
<p>Você foi matriculado, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plano }} <br>
  <strong>Duração: </strong> {{ date }} <br>
  <strong>Valor: </strong> {{ price }} <br>

  <strong>Início: </strong> {{ start_date }} <br>
  <strong>Fim: </strong> {{ end_date }} <br>
  <br>
  <small>
    Caso tenha alguma dúvida, entre em contato.
  </small>
</p>
